/* ----------------Responsiv-----Style----Start---------- */


/* ------------Mobile-----Device-------- */
@media screen and (max-width: 576px) {
    .nav-container,
    .nav-manu-container,
    .cord-container,
    .play-instantly-section  {
        flex-direction: column;
    }
    .top-banner-container{
        flex-direction: column-reverse;
        
    }
    .image-container img{
        min-width: 568px;
        max-width: 576px;
        margin: 10px auto;
    }
    .top-banner-content,
    .top-banner-img{
   
        width: 100%;
    }
    .top-banner-content{
        display: flex;
        align-items: center;
        justify-content: c;
    }
    .top-banner-content-heading{
    
        font-size: 80px;
        font-weight: 800;
    }
    .action-game-feauter-section {
        min-width: 576px;
    }
    .first-img-div img{
        width: 100%;
    }
    .image2 {
        width: 35%;
        position: absolute;
        left: -0px;
        bottom: -50px;
        z-index: 1; /* Place it on top */
    }
    
    .right-div, .left-div {
    
      max-width: 576px;
      margin: 40px auto;

    }

    .dis-hiden{
        display: none;
    }
    .game-group-div{
        padding: 2px 3px;
        justify-content: space-between;
        gap: 5px;
         
     }
     .game-group-div img{
        border-radius: 50px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        width: 60px;
        height: 60px;
        object-fit: cover;
    }
    .game-group-div p{
        font-size: 16px;
        font-weight: 600;
        text-wrap: wrap;
        
    }
}