/* Google Font link start here   */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    
    box-sizing: border-box;
   
}
body{
    font-family: 'Work Sans', sans-serif;

}

/* Nav Style Start here  */
nav{

    margin: 0;
    padding-bottom: 20px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
   align-items: center;
   justify-content: space-between;
}
.nav-logo-conatiner{
    width: 50%;
    min-height: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-logo-conatiner img{
    width: 95px;
    object-fit: cover;

}
.nav-logo-conatiner h1{
    font-size: 45px;
    font-weight: 700;
}
.nav-manu-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-manu-container a{
    text-decoration: none;
    margin-left: 10px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}


.g-gamer-section{
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.media-follow-link{
   
    padding: 6px;
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
}

/* Nav Section Style  Ends here */


/* Top Banner section Style Start here  */




/* Top Banner section Style ends here  */
.top-banner{
    margin-top: 50px;
}
.top-banner-container{
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-banner-content-bg{
    background-image: url(../images/Group\ 14.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.top-banner-content{
   
    width: 50%;
    text-align: start;
}
.top-banner-content-item {
    padding: 20px 0 20px 50px;
}
.top-banner-content-item p{
    color: #534C64;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.top-banner-content-heading{
    
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-banner-content p{
    display: flex;
    justify-content: start;
    align-items: ;
    flex-direction: ;
    gap: 10px;
    
}
.top-banner-img{
     width: 50%;
}
.top-banner-img img{
    width: 100%;
}

/* The Online Games Section Style sharted here  */
.online-games{
    
    max-width: 1400px;
    margin: 0 auto;
}
.online-games-content{
    text-align: center;

}
.funny-video{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* card Section Style Startd  */
.cord-container{
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card-img img{
    width: 300px;
    object-fit: cover;

}
/* ply button add image  Style Started here */

 /* Container for the image and buttons */
 .image-container {
    position: relative;
    display: inline-block;
}
 /* Style for the image */
 .image-container img {
   
    display: block;
}
 /* Style for the video control buttons */
 .video-controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}
.video-controls p{
    margin-top: 15px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Style for the play button icon */
  .play-button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 45px;
}

/* Show video controls on hover */
.image-container:hover .video-controls {
    display: block;
}
/* Style for the play button on hover */
.play-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* ply button add image  Style ends here */


.card-discription p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

/* The Online Games Section Style Ends here  */




/* The Play Instantly Section style Startd here  */
/* Styles for the section */
.section {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 50px auto ;
}

/* Style for the left div (content) */
.left-div {
    flex: 1;
    padding: 20px;
    text-align: center;
    
}

/* Style for the right div (images container) */
.right-div {
    flex: 1;
    position: relative;
    background-color: #ccc;
}
.play-int-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Style for the images */
.image1 {
    width: 100%;
    height: auto;
}
.image2{
   width: 35%;
    height: auto;
}

/* Style for the image that will be on top */
.image2 {
    position: absolute;
    left: -120px;
    bottom: -50px;
    z-index: 1; /* Place it on top */
}
/* The Play Instantly Section style Ends here  */



